<h1><%= @code.title %></h1>
<ul>
  <li>Code Difficulty (1 = Hardest, 10 = Easiest): <%= @code.rating %></li>
  <li>The Challenge: <%= @code.problem_description %></li>
  <% unless @code.solution == nil %>
    <li>This Code Challenge's Solution: <%= @code.solution %></li>
  <% end %>
</ul>
